
#eightBitButton {
  font-family: eightBit;
  /*color: black;*/
}

#vaporWaveButton {
  font-family: aesthetic;
  /*color: black;*/
}

#seinfeldButton {
  font-family: seinfeld;
  color: red;
  background-color: yellow;
}

#adultSwimButton {
  font-family: adultSwim;
  color: white;
  background-color: black;
  border: 2px solid white;
}

#gameOfThronesButton {
  font-family: gameOfThrones;
  color: black;
  background-color: grey;
}

body {
  background-image: url("images/stars.png");
  background-repeat: repeat-y;
  color: #fff;
  font-family: eightBit;
  /*font-family: alienEncountersRegular;*/
  /*font-family: aesthetic;*/
  font-weight: normal;
  font-style: normal;
}
.page-header h1 {
  text-align: center;
  text-decoration: underline;
  size: 50px;
  font: Helvetica;
}
.jumbotron {
  background: none;
}
.row {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid7 .col-lg-1 {
  width: 14.285714285714%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.grid7 .col-md-1 {
  width: 14.285714285714%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.grid7 .col-sm-1 {
  width: 14.285714285714%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.grid7 .col-xs-1 {
  width: 14.285714285714%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  /*background-color: red;*/
}

.cell {
  padding: 12%;
  border-radius: 50%;
}

@media only screen and (min-width: 1200px) {
  .cell{
    height: 125px;
    width: 125px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
  .cell {
    height: 75px;
    width: 75px;
  }

  h4 {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 400px) {
  .cell {
    height: 50px;
    width: 50px;
  }

  h4 {
    font-size: 0.5em;
  }
}
img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
.valid {
  box-shadow: 5px 5px 5px white;
}
.valid:hover {
  background: grey;
  color: black;
}

.modal {
  color: #000;
}

.jumbotron {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  margin: 0;
}

@font-face {
  font-family: eightBit;
  src: url(fonts/8-BIT-WONDER.TTF);
}

@font-face {
  font-family: aesthetic;
  src: url(fonts/Streamster.ttf);
}

@font-face {
  font-family: vcrAesthetic;
  src: url(fonts/VCR_OSD_Mono.ttf);
}

@font-face {
  font-family: alienEncountersBold;
  src: url(fonts/Alien-Encounters-Bold.ttf);
}

@font-face {
  font-family: alienEncountersBoldItalic;
  src: url(fonts/Alien-Encounters-Bold-Italic.ttf);
}

@font-face {
  font-family: alienEncountersItalic;
  src: url(fonts/Alien-Encounters-Italic.ttf);
}

@font-face {
  font-family: alienEncountersSolidBoldItalic;
  src: url(fonts/Alien-Encounters-Solid-Bold-Italic.ttf);
}

@font-face {
  font-family: alienEncountersRegular;
  src: url(fonts/Alien-Encounters-Regular.ttf);
}

@font-face {
  font-family: alienEncountersSolidItalic;
  src: url(fonts/Alien-Encounters-Solid-Italic.ttf);
}

@font-face {
  font-family: seinfeld;
  src: url(fonts/ITC-fenice-oblique.otf);
}

@font-face {
  font-family: feniceItalic;
  src: url(fonts/Fenice Italic.ttf);
}

@font-face {
  font-family: polya;
  src: url(fonts/POLYA.otf);
}

@font-face {
  font-family: adultSwim;
  src: url(fonts/HelveticaNeue-CondensedBold.ttf);
}

@font-face {
  font-family: gameOfThrones;
  src: url(fonts/gameOfThrones.ttf);
}
